/*===========================================
 * Common
 *===========================================*/
body,
html {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
body {
	font-family:Roboto, Helvetica, Arial, sans-serif;
	font-size:16px;
	line-height:22px;
	color:#444;
	background-color:#eaeaea;
	overflow-x:hidden;
}

::-webkit-scrollbar {
	width:5px;
}
::-webkit-scrollbar-track {
	background-color:transparent;
}
::-webkit-scrollbar-thumb {
	background-color:rgba(255,255,255,0.6);
}
#exist {
	position:absolute; 
	display:flex; 
	height:100%; 
	width:100%; 
	justify-content:center; 
	align-items:center; 
	text-align:center; 
	z-index:1; 
	color: rgba(0,0,0,0.2); 
	font-style: italic; 
	font-weight:bold;
}

.fullscreen-preview {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#clouds canvas {
	background:#efefef url('../images/bg.jpg') top center;
	background-size:cover;
}

